@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Archivo&family=Arvo&family=Barlow&family=Tinos&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Header */

header {
    height: 60px;
    background-color: white;
    border-bottom: solid 2px #D8E2E9;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 5%;
    font-family: 'Barlow', sans-serif;

}

/* Menu */

#menu button {
    margin: 0 20px 0 0;
    color: black;
    background-color: white;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;

}

.menu-dropdown ul {
    font-family: 'Barlow', sans-serif;
    position: absolute;
    background-color: white;
    list-style-type: none;
    height: 120px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    border: solid 1px black;
    opacity: 0;
    pointer-events: none;
}

.menu-dropdown a {
    text-decoration: none;
    color: black;
}

.menu-dropdown li {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-dropdown li:hover {
    background-color: #81878B;
}

#menu button:hover {
    color: #81878B;
}

#menu button:focus + .menu-dropdown ul {
    opacity: 1;
    pointer-events: all;
}



/* Featured recipe */

#featured-recipe {
    height: 650px;
}

#featured-recipe a {
    text-decoration: none;
}

#featured-recipe img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.featured-text {
    height: 150px;
    background-color: #02A9B7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-text p {
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 1.8em;
}

/* Sustainable section */

#sustainable {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sustainable-container {
    height: 80%;
    width: 80%;
}

.sustainable-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#sustainable p {
    width: 80%;
    margin: 10px 0;
    font-family: 'Archivo', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

/* Recipe Section */

#recipes {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.recipe {
    height: 250px;
    width: 200px;
    border: solid 1px #D8E2E9;
    margin: 10px 10px;
}

.recipe-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.recipe-info {
    height: 50px;
    width: 200px;
    background-color: #02A9B7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-info p {
    font-family: 'Archivo', sans-serif;
    color: white;
}

/* Garlic tips Section */

#garlic-tips {
    height: 400px;
    background-color: #81878B;
}

/* Contact section */

#contact {
    height: 800px;
}

/* Footer */

footer {
    height: 80px;
    background-color: #81878B;
}