* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Header */

header {
    height: 60px;
    border-bottom: solid 1px #D8E2E9;
}

/* Featured recipe */

#featured-recipe {
    height: 400px;
    background-color: #81878B;
}

/* Sustainable section */

#sustainable {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sustainable-container {
    height: 80%;
    width: 80%;
    border: solid 1px #D8E2E9;
}

/* Recipe Section */

#recipes {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe {
    height: 350px;
    width: 80%;
    border: solid 1px #D8E2E9;
    margin: 10px 0px;
}

