@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Archivo&family=Arvo&family=Barlow&family=Tinos&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Header */

header {
    height: 60px;
    background-color: white;
    border-bottom: solid 2px #D8E2E9;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.logo {
    font-size: 65%;
    margin-left: 2.5%;
    font-family: 'Barlow', sans-serif;
    border: 2px solid black;
    transition: transform .2s;
}

.logo a {
    text-decoration: none;
    color: black;
}

.logo:hover {
    transform: scale(1.1);
}

/* Menu */

#menu {
    color: black;
    font-family: 'Barlow', sans-serif;
    margin: 0 2.5% 0 0;
}

#menu a {
    text-decoration: none;
    color: black;
    margin: 0 5px 0 0;
    font-weight: bold;
}

#menu a:hover {
    color: #02A9B7;
    transition-duration: 0.2s;
}

/* Featured recipe */

#featured-recipe {
    height: 650px;
}

.featured-recipe-img {
    overflow: hidden;
}

#featured-recipe a {
    text-decoration: none;
}

#featured-recipe img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: transform .3s;
    z-index: -1;
}

.featured-text {
    height: 150px;
    background-color: #02A9B7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.featured-text p {
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 1.8em;
}

#featured-recipe img:hover {
    transform: scale(1.1);
}

/* Sustainable section */

#sustainable {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sustainable-container {
    height: 100%;
    overflow: hidden;
}

.sustainable-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

#sustainable p {
    padding: 10px 15px;
    font-family: 'Archivo', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.sustainable-container img:hover {
    transform: scale(1.1);
}

/* Recipe Section */

#recipes {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.recipe {
    height: 250px;
    width: 45%;
    margin: 10px 2.5%;
    overflow: hidden;
}

.recipe-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.recipe-info {
    height: 50px;
    width: 100%;
    background-color: #02A9B7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-info p {
    font-family: 'Archivo', sans-serif;
    color: white;
}

.recipe-img:hover {
    transform: scale(1.1);
}

/* Garlic tips Section */

#garlic-tips {
    height: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.garlic-text {
    padding: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #84CF89;
}

.garlic-text p {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.youtube-video {
    height: 80%;
    width: 100%;
}

/* Sign up section */

#sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/backgrounddish2.jpg);
    background-size: cover;
}

.mail-sign-up {
    max-height: 50%;
    max-width: 80%;
    padding: 20px;
    background-color: #76B8C5;
    border: 2px solid white;
    color: white;
    margin: 40px 0;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.mail-sign-up-header {
    font-size: 1.8em;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    margin: 20px 0 10px 0;
}

.mail-sign-up-p {
    font-family: 'Tinos', serif;
    font-size: 1.2em;
    margin: 0 10px;
    text-decoration: none;
}

.mail-sign-up ul {
    list-style-type: none;
}

.mail-sign-up input {
    margin: 30px 10px 0 10px;
    width: 90%;
    height: 40px;
    color: gray;
    font: inherit;
}

.mail-sign-up button {
    padding: 7.5px 10px;
    margin: 10px 30% 20px 30%;
    font-family: 'Barlow', sans-serif;
    letter-spacing: .1em;
    font-size: 1.2em;
    font-weight: 900;
    background-color: #094B71;
    color: white;
    transition-duration: 0.4s;
}

.mail-sign-up button:hover {
    background-color: #053049;
}


/* Footer */

footer {
    height: 80px;
    background-color: #053049;
}

footer div {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

.about-us {
    font-size: 1.2em;
    font-family: 'Barlow', sans-serif;
    margin: 10px 0;
}

.social-media {
    font-size: 1.3em;
}

footer a:hover {
    color: #02A9B7;
}

/* Recipe pages */

.head-img {
    height: 500px;
}

.head-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.full-recipe {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    height: 60px;
    width: 100%;
    background-color: #02A9B7;
    font-family: 'Archivo', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}

.info h2 {
    vertical-align: middle;
    margin: 0 2.5%;
}

.info p {
    margin: 0 2.5%;
    font-size: 1.4em;
    font-weight: bold;
}

.fa-pound-sign, .fa-clock {
    font-size: 0.95em;
}

.ingredients {
    height: 100%;
    width: 100%;
    background-color: #02A9B7;
}

.ingredients ul {
    list-style-type: none;
    color: white;
    font-size: 1.3em;
    font-family: 'Archivo', sans-serif;
    margin: 20px 2.5%;
}

.recipe-brief {
    height: 100%;
    width: 100%;
}

.recipe-brief p {
    font-style: italic;
    font-family: 'Tinos', serif;
    margin: 15px 2.5%;
    font-size: 1.1em;
}

.instructions {
    width: 100%;
    height: 100%;
}

.steps {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Tinos', serif;
    font-size: 1.3em;
    margin: 5px 2.5%;
}

.instruction {
    font-family: 'Tinos', serif;
    margin: 10px 2.5%;
}

.instruction a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Sustainability page */

#sustainability {
    width: 100%;
    background-image: url(../images/lake.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sustainability div {
    max-width: 80%;
    background-color: #84CF89;
    border: 2px solid white;
    margin: 50px 0;
    color: white;
    overflow: auto;
    padding: 15px;
}

#sustainability h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 180%;
    text-align: center;
    margin: 20px 2.5% 10px 2.5%;
}

#sustainability p {
    font-family: 'Tinos', serif;
    font-size: 120%;
    text-align: center;
    margin: 10px 2.5% 10px 2.5%;
    font-style: italic;
}

#sustainability ul li{
    list-style-type: none;
    text-align: center;
    margin: 10px 2.5% 10px 2.5%;
}

/* Contact Page */

#contact-us {
    background-image: url(../images/backgrounddish1.jpg);
    background-size: cover;
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-us div {
    max-width: 80%;
    background-color: #76B8C5;
    border: 2px solid white;
    margin: 50px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

#contact-us h2 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 3em;
    margin: 2.5% 5%;
}

#contact-us p {
    font-family: 'Tinos', serif;
    font-size: 2em;
    margin: 0 10px;
    text-align: center;
    margin: 2.5% 5%;
}

#contact-us a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#contact-us a:hover {
    color: #053049;
}

/* About Us Page */

#aboutus-section {
    background-image: url(../images/mezze.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutus-section div {
    max-width: 80%;
    background-color: #76B8C5;
    border: 2px solid white;
    margin: 50px 0;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#aboutus-section h2 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 3em;
    margin: 2.5% 5%;
}

#aboutus-section p {
    font-family: 'Tinos', serif;
    font-size: 1.2em;
    margin: 0 10px;
    text-align: center;
    margin: 2.5% 5%;
}

/* Sign-Up Confirmation Page */

#signup-confirm {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/backgrounddish2.jpg);
    background-size: cover;
}

#signup-confirm div {
    max-width: 80%;
    background-color: #76B8C5;
    border: 2px solid white;
    color: white;
    margin: 40px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#signup-confirm h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 3em;
    margin: 2.5% 5%;
}

#signup-confirm p {
    font-family: 'Tinos', serif;
    font-size: 2em;
    margin: 2.5% 5%;
    text-align: center;
}

/* Tablet Screen Size */

/* Home Screen */

@media only screen and (min-width: 481px) {

    #menu a {
    margin: 0 20px 0 0;
    }

    #featured-recipe {
        height: 850px;
    }

    #featured-recipe img {
        height: 700px;
    }

    .mail-sign-up {
        max-width: 70%;
    }

    .recipe {
        height: 350px;
    }
    
    .recipe-img {
        height: 300px;

    }
    
    .recipe-info {
        height: 50px;
    }

    #garlic-tips {
        height: 800px;
    }

    .garlic-text {
        height: 15%;
        padding: 0px;
    }
    
    .youtube-video {
        height: 85%;
    }

    /* Recipe Pages */

    .head-img {
        height: 700px;
    }
    
    /* About Us Page*/

    #aboutus-section {
        height: 1000px;
    }

    /* Sign-Up Confirmation Page */

    #signup-confirm {
        height: 1100px;
    }

}

/* Large Tablet Screens */

@media only screen and (min-width: 769px) {

    /* Home Page */

    .sustainable-container {
        max-height: 80%;
        max-width: 80%;
    }

    #sustainable p {
        max-width: 80%;
    }

    #garlic-tips {
        align-items: center;
        background-color: black;
    }
    
    .garlic-text {
        width: 100%;
        color: white;
        padding: 0;
    }

    .youtube-video {
        max-width: 70%;
    }

    /* Sustainability Page */

    #sustainability {
        height: 1300px;
    }

    #sustainability h1 {
        font-size: 2.5em;
    }

    #sustainability p {
        font-size: 1.4em;
    }

    #sustainability ul li {
        font-size: 1.3em;
    }

    /* Contact Us Page */

    #contact-us {
        height: 1300px;
    }

    #contact-us h2 {
        font-size: 3.5em;
    }

    #contact-us p {
        font-size: 2.5em;
    }

    /* About Us Page */

    #aboutus-section {
        height: 1300px;
    }

    #aboutus-section div {
        height: 75%;
    }

    #aboutus-section h2 {
        font-size: 3.5em;
    }

    #aboutus-section p {
        font-size: 1.8em;
    }

    /* Sign Up Confirm Page */

    #signup-confirm {
        height: 1300px;
    }

    #signup-confirm h2 {
        font-size: 7em;
    }

    #signup-confirm p {
        font-size: 3em;
    }

}

/* Laptop Screens */

@media only screen and (min-width: 1025px) {

        /* Home Page */

        #menu a {
        margin: 0 30px 0 0;
        }

        #featured-recipe {
            height: 700px;
        }
    
        #featured-recipe img {
            height: 550px;
            object-position: 15% 85%;
        }
    
        .featured-text {
            height: 100px;
        }

        #sustainable {
            height: 700px;
 
        }
        
        .sustainable-container {
            height: 95%;
            max-width: 70%;
            overflow: hidden;
        }

        #sustainable p {
            max-width: 70%;
            margin: 10px 0;
            font-size: 1.3em;
        }

        .recipe {
            height: 500px;
        }
        
        .recipe-img {
            height: 375px;
    
        }
        
        .recipe-info {
            height: 75px;
        }

        .recipe-info p {
            font-size: 1.4em;
        }

        .garlic-text p {
            font-size: 1.6em;
        }

        .mail-sign-up {
            width: 50%;
        }

        .mail-sign-up-header {
            font-size: 2.5em;
        }
        
        .mail-sign-up-p {
            font-size: 1.4em;
        }
        
        .mail-sign-up input {
            color: gray;
            font: inherit;
            font-size: 1.2em;
        }
        
        .mail-sign-up button {
            height: 40px;
            font-size: 1.4em;
        }

        /* Recipe Pages */
        
        .head-img img {
            object-fit: cover;
            object-position: 15% 85%;
        }

        .recipe-brief p {
            font-size: 1.3em;
        }

        .steps {
            font-size: 1.3em;
        }

        .instruction {
            font-size: 1.2em;
        }

}